!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Will C. Fisher, Jr | Bitsmith
    / favicon
    %link{:href => "images/other_images/favicon.png", :rel => "icon", :type => "image/png"}/
    / Bootstrap core CSS
    %link{:href => "bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
    / Bootstrap theme
    %link{:href => "bootstrap/css/bootstrap-theme.min.css", :rel => "stylesheet"}/
    / owl carousel css
    %link{:href => "js/owl-carousel/owl.carousel.css", :rel => "stylesheet"}/
    %link{:href => "js/owl-carousel/owl.theme.css", :rel => "stylesheet"}/
    %link{:href => "js/owl-carousel/owl.transitions.css", :rel => "stylesheet"}/
    / intro animations
    %link{:href => "js/wow/animate.css", :rel => "stylesheet"}/
    / font awesome
    %link{:href => "css/font-awesome/css/font-awesome.min.css", :rel => "stylesheet"}/
    / lightbox
    %link{:href => "js/lightbox/css/lightbox.css", :rel => "stylesheet"}/
    / styles for this template
    %link{:href => "css/styles.css", :rel => "stylesheet"}/
    / place your extra custom styles in this file
    %link{:href => "css/custom.css", :rel => "stylesheet"}/
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  %body
    .background-image-overlay
    #outer-background-container{"data-default-background-img" => "images/other_images/bg5.jpg", :style => "background-image:url(images/other_images/bg5.jpg);"}
    / end: #outer-background-container
    / Outer Container
    #outer-container
      / Left Sidebar
      %section#left-sidebar
        .logo
          %a.link-scroll{:href => "#intro", :title => "The World Wide Will"}
            %img{:alt => "Will C. Fisher, Jr.", :src => "images/other_images/wf_logo.png"}/
        / .logo
        / Menu Icon for smaller viewports
        #mobile-menu-icon.visible-xs{:onclick => "toggle_main_menu();"}
          %span.glyphicon.glyphicon-th
        %ul#main-menu
          %li#menu-item-bio.menu-item.scroll
            %a{:href => "#bio", :title => "More about me!"} Bio
          %li#menu-item-featured.menu-item.scroll
            %a{:href => "#featured", :title => "Some of my work!"} My Work
          %li#menu-item-grid.menu-item.scroll
            %a{:href => "#grid", :title => "A way to display a series of facts."} Grid
        / #main-menu
      / #left-sidebar
      / end: Left Sidebar
      %section#main-content.clearfix
        %article#intro.section-wrapper.clearfix{"data-custom-background-img" => "images/other_images/bg5.jpg"}
          .content-wrapper.clearfix.wow.fadeInDown{"data-wow-delay" => "0.3s"}
            .col-sm-10.col-md-9.pull-right
              %section.feature-text
                %h1 Will C. Fisher, Jr
                %p Rubying, Tinkering, and Advancing Functionality
                %p
                  %a.link-scroll.btn.btn-outline-inverse.btn-lg{:href => "#bio", :title => "jump to bio"} find out more
        %article#bio.section-wrapper.clearfix{"data-custom-background-img" => "images/other_images/bg1.jpg"}
          .content-wrapper.clearfix
            .col-sm-10.col-md-9.pull-right
              %h1.section-title About Me
              %p.feature-paragraph
                %img.lazy.rounded_border.hover_effect.pull-right{:alt => "The visage of Terror", "data-img-src" => "images/other_images/willfisher.jpg"}>/
                Since an early age, the search for technological prowess has been a primary focus in my life. My inherent adaptability has often allowed me to harness technologies to improve the efficiency of my family's life as well as my own. I hope to continue my quest to improve the efficacy of whatever technological implementation with which I am presented.
              %p
                = succeed "," do
                  %a{:href => "#carousel"} Check out some of my work!
              %h4 Exceptional Analysis
              %p Everyday, the technological landscape is changed by the introduction of new and often paradigm-shifting tools and methods. Let my need to stay abreast of these changes help you!
              %p
                %a.btn.btn-outline-inverse.btn-sm{:href => "", :onclick => "populate_and_open_modal(event, 'modal-content-1');"} read more
              #modal-content-1.content-to-populate-in-modal
                %h3 Will Fisher is:
                %p
                  %img.lazy.rounded_border.hover_effect.pull-right{:alt => "Little Old Landlady", "data-img-src" => "images/other_images/lol.png"}>/
                  Author of the renowned web-based rental-management tool,
                  %a{:href => "http://little-old-landlady.herokuapp.com/"} Little Old Landlady
                  , a Rubyist, and a professional ponderer.
                %p
                  Peruse my 
                  %a{:href => "http://gtlaserbeast.github.io"} blog, 
                  take a look at my
                  %a{:href => "http://blooming-river-1772.herokuapp.com"} resume
                  , or have a gander at my collection of
                  %a{:href => "https://github.com/gtlaserbeast"} github 
                  repos.
                %p
                  Shoot me an
                  %a{:href => "mailto:willcfisherjr@gmail.com?subject=[world-wide-will] Hello!"} email
                  , or
                  give me a call:
                  %a{:href => "tel:+18432633471"} (843)263-3471
        %article#featured.section-wrapper.clearfix{"data-custom-background-img" => "images/other_images/bg3.jpg"}
          .content-wrapper.clearfix
            .col-sm-11.pull-right
              %h1.section-title My Work
              / feature columns
              %section.feature-columns.row.clearfix
                / feature 1
                %article.feature-col.col-md-4
                  %a.thumbnail.linked{:href => "", :onclick => "populate_and_open_modal(event, 'modal-content-8', '', 'full-size');"}
                    .image-container
                      %img.lazy.item-thumbnail{:alt => "Lorem Ipsum", "data-img-src" => "images/other_images/lol/1.png"}/
                    .caption
                      %h5 Little Old Landlady
                      %p Little Old Landlady is a responsive web-tool for low impact interaction between property owners and tenants.
                    / .caption
                  / .thumbnail
                  #modal-content-8.content-to-populate-in-modal
                    %h1 Little Old Landlady
                    %p Little Old Landlady is an app built using Rails 4.1, Postgresql, Bootstrap, Twilio, and Google Maps API, designed to aid in the management of rental properties and related concerns.
                    / alt image slider inside popup
                    #unique-id-for-alt-image-slider.owl-carousel.popup-alt-image-gallery
                      .item
                        %a{"data-lightbox" => "popup-alt-gallery", :href => "images/other_images/lol/1.png"}
                          %img.lazyOwl{"data-src" => "images/other_images/lol/1_thumb.png"}/
                      .item
                        %a{"data-lightbox" => "popup-alt-gallery", :href => "images/other_images/lol/2.png"}
                          %img.lazyOwl{"data-src" => "images/other_images/lol/2_thumb.png"}/
                      .item
                        %a{"data-lightbox" => "popup-alt-gallery", :href => "images/other_images/lol/3.png"}
                          %img.lazyOwl{"data-src" => "images/other_images/lol/3_thumb.png"}/
                      .item
                        %a{"data-lightbox" => "popup-alt-gallery", :href => "images/other_images/lol/4.png"}
                          %img.lazyOwl{"data-src" => "images/other_images/lol/4_thumb.png"}/
                      .item
                        %a{"data-lightbox" => "popup-alt-gallery", :href => "images/other_images/lol/5.png"}
                          %img.lazyOwl{"data-src" => "images/other_images/lol/5_thumb.png"}/
                      .item
                        %a{"data-lightbox" => "popup-alt-gallery", :href => "images/other_images/lol/6.png"}
                          %img.lazyOwl{"data-src" => "images/other_images/lol/6_thumb.png"}/
                      .item
                        %a{"data-lightbox" => "popup-alt-gallery", :href => "images/other_images/lol/7.png"}
                          %img.lazyOwl{"data-src" => "images/other_images/lol/7_thumb.png"}/
                      .item
                        %a{"data-lightbox" => "popup-alt-gallery", :href => "images/other_images/lol/8.png"}
                          %img.lazyOwl{"data-src" => "images/other_images/lol/8_thumb.png"}/
                %article.feature-col.col-md-4
                  %a.thumbnail.linked{:href => "", :onclick => "populate_and_open_modal(event, 'modal-content-8', '', 'full-size');"}
                    .image-container
                      %img.lazy.item-thumbnail{:alt => "Lorem Ipsum", "data-img-src" => "images/other_images/project-4.jpg"}/
                    .caption
                      %h5 Alternate Gallery
                      %p Inside this feature's popup you'll find an alternative version of an image gallery.
                    / .caption
                  / .thumbnail
                  #modal-content-8.content-to-populate-in-modal
                    %h1 Sed scelerisque
                    %p Nullam ac rhoncus. Aliquam adipiscing eros non elit imperdiet congue. Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet. Adipiscing eros non elit imperdiet congue tiam at ligula sit amet arcu.
                    / alt image slider inside popup
                    #unique-id-for-alt-image-slider.owl-carousel.popup-alt-image-gallery
                      .item
                        %a{"data-lightbox" => "popup-alt-gallery", :href => "images/other_images/bg1.jpg"}
                          %img.lazyOwl{"data-src" => "images/other_images/gallery-thumb-1.jpg"}/
                      .item
                        %a{"data-lightbox" => "popup-alt-gallery", :href => "images/other_images/bg2.jpg"}
                          %img.lazyOwl{"data-src" => "images/other_images/gallery-thumb-2.jpg"}/
                      .item
                        %a{"data-lightbox" => "popup-alt-gallery", :href => "images/other_images/bg3.jpg"}
                          %img.lazyOwl{"data-src" => "images/other_images/gallery-thumb-3.jpg"}/
                      .item
                        %a{"data-lightbox" => "popup-alt-gallery", :href => "images/other_images/bg4.jpg"}
                          %img.lazyOwl{"data-src" => "images/other_images/gallery-thumb-4.jpg"}/
                      .item
                        %a{"data-lightbox" => "popup-alt-gallery", :href => "images/other_images/bg5.jpg"}
                          %img.lazyOwl{"data-src" => "images/other_images/gallery-thumb-5.jpg"}/
                      .item
                        %a{"data-lightbox" => "popup-alt-gallery", :href => "images/other_images/bg6.jpg"}
                          %img.lazyOwl{"data-src" => "images/other_images/gallery-thumb-6.jpg"}/
                      .item
                        %a{"data-lightbox" => "popup-alt-gallery", :href => "images/other_images/bg2.jpg"}
                          %img.lazyOwl{"data-src" => "images/other_images/gallery-thumb-2.jpg"}/
                      .item
                        %a{"data-lightbox" => "popup-alt-gallery", :href => "images/other_images/bg3.jpg"}
                          %img.lazyOwl{"data-src" => "images/other_images/gallery-thumb-3.jpg"}/
                %article.feature-col.col-md-4
                  %a.thumbnail.linked{:href => "", :onclick => "populate_and_open_modal(event, 'modal-content-8', '', 'full-size');"}
                    .image-container
                      %img.lazy.item-thumbnail{:alt => "Lorem Ipsum", "data-img-src" => "images/other_images/project-4.jpg"}/
                    .caption
                      %h5 Alternate Gallery
                      %p Inside this feature's popup you'll find an alternative version of an image gallery.
                    / .caption
                  / .thumbnail
                  #modal-content-8.content-to-populate-in-modal
                    %h1 Sed scelerisque
                    %p Nullam ac rhoncus. Aliquam adipiscing eros non elit imperdiet congue. Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet. Adipiscing eros non elit imperdiet congue tiam at ligula sit amet arcu.
                    / alt image slider inside popup
                    #unique-id-for-alt-image-slider.owl-carousel.popup-alt-image-gallery
                      .item
                        %a{"data-lightbox" => "popup-alt-gallery", :href => "images/other_images/bg1.jpg"}
                          %img.lazyOwl{"data-src" => "images/other_images/gallery-thumb-1.jpg"}/
                      .item
                        %a{"data-lightbox" => "popup-alt-gallery", :href => "images/other_images/bg2.jpg"}
                          %img.lazyOwl{"data-src" => "images/other_images/gallery-thumb-2.jpg"}/
                      .item
                        %a{"data-lightbox" => "popup-alt-gallery", :href => "images/other_images/bg3.jpg"}
                          %img.lazyOwl{"data-src" => "images/other_images/gallery-thumb-3.jpg"}/
                      .item
                        %a{"data-lightbox" => "popup-alt-gallery", :href => "images/other_images/bg4.jpg"}
                          %img.lazyOwl{"data-src" => "images/other_images/gallery-thumb-4.jpg"}/
                      .item
                        %a{"data-lightbox" => "popup-alt-gallery", :href => "images/other_images/bg5.jpg"}
                          %img.lazyOwl{"data-src" => "images/other_images/gallery-thumb-5.jpg"}/
                      .item
                        %a{"data-lightbox" => "popup-alt-gallery", :href => "images/other_images/bg6.jpg"}
                          %img.lazyOwl{"data-src" => "images/other_images/gallery-thumb-6.jpg"}/
                      .item
                        %a{"data-lightbox" => "popup-alt-gallery", :href => "images/other_images/bg2.jpg"}
                          %img.lazyOwl{"data-src" => "images/other_images/gallery-thumb-2.jpg"}/
                      .item
                        %a{"data-lightbox" => "popup-alt-gallery", :href => "images/other_images/bg3.jpg"}
                          %img.lazyOwl{"data-src" => "images/other_images/gallery-thumb-3.jpg"}/
        %article#grid.section-wrapper.clearfix{"data-custom-background-img" => "images/other_images/bg2.jpg"}
          .content-wrapper.clearfix
            .col-sm-11.col-md-10.pull-right
              %h1.section-title Grid
              / grid
              %section.grid.row.clearfix.clearfix-for-2cols
                / grid item
                .grid-item.col-md-6
                  .item-content.clearfix
                    %span.icon.glyphicon.glyphicon-stats
                    .text-content
                      %h5 Lorem ipsum dolor sit amet
                      %p Nullam ac rhoncus sapien, non gravida purus. Aliquam adipiscing eros non elit imperdiet congue. Integer ultricies.
                  / end: .item-content
                / end: .grid-item
                / grid item
                .grid-item.col-md-6
                  .item-content.clearfix
                    %span.icon.glyphicon.glyphicon-record
                    .text-content
                      %h5 Aliquam adipiscing eros non elit
                      %p Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer ultricies sed ligula eget tempus.
                  / end: .item-content
                / end: .grid-item
                / grid item
                .grid-item.col-md-6
                  .item-content.clearfix
                    %span.icon.glyphicon.glyphicon-lock
                    .text-content
                      %h5 Integer ultricies sed ligula
                      %p Aliquam adipiscing eros non elit imperdiet congue. Integer ultricies sed ligula ligula eget.
                  / end: .item-content
                / end: .grid-item
                / grid item
                .grid-item.col-md-6
                  .item-content.clearfix
                    %span.icon.glyphicon.glyphicon-file
                    .text-content
                      %h5 Lorem ipsum dolor sit amet
                      %p Nullam ac rhoncus. Aliquam adipiscing eros non elit imperdiet congue. Integer ultricies sed ligula eget tempus.
                  / end: .item-content
                / end: .grid-item
              / end: grid
            / .col-sm-11
          / .content-wrapper
        / .section-wrapper
        / %article#contact.section-wrapper.clearfix{"data-custom-background-img" => "images/other_images/bg4.jpg"}
        /   .content-wrapper.clearfix
        /     %h1.section-title Will Fisher
        /     / CONTACT DETAILS
        /     .contact-details.col-sm-5.col-md-3
        /       %p
        /         Beaufort, SC
        /       %p 
        /         %a{:href => "tel:843-263-3471"} (843)263-3471
        /       %p
        /         %a{:href => "mailto:willcfisherjr@gmail.com"} willcfisherjr@gmail.com
        /       %p
        /         Twitter: 
        /         %a{:href => "https://twitter.com/willcfisherjr", :target => "_blank"} @willcfisherjr
        /     / END: CONTACT DETAILS
        /     / CONTACT FORM

        /     .col-sm-7.col-md-9
        /       / IMPORTANT: change the email address at the top of the php/mail.php file to the email address that you want this form to send to
        /       %form.form-style.validate-form.clearfix{:action => "php/mail.php", :method => "POST", :role => "form"}
        /         / form left col
        /         .col-md-6
        /           .form-group
        /             %input#form-name.text-field.form-control.validate-field.required{"data-validation-type" => "string", :name => "name", :placeholder => "Full Name", :type => "text"}/
        /           .form-group
        /             %input#form-email.text-field.form-control.validate-field.required{"data-validation-type" => "email", :name => "email", :placeholder => "Email Address", :type => "email"}/
        /           .form-group
        /             %input#form-contact-number.text-field.form-control.validate-field.phone{"data-validation-type" => "phone", :name => "contact_number", :placeholder => "Contact Number", :type => "tel"}/
        /           .form-group.text-right
        /             %img#form-captcha-img{:src => "php/form_captcha/captcha_img.php"}/
        /             %input#form-captcha.text-field.form-control.validate-field.required{"data-validation-type" => "captcha", :name => "captcha", :placeholder => "Enter text", :type => "text"}/
        /             %span#form-captcha-refresh.fa.fa-refresh{:title => "Reload"}
        /         / end: form left col
        /         / form right col
        /         .col-md-6
        /           .form-group
        /             %textarea.form-control.validate-field.required{:name => "message", :placeholder => "Message..."}
        /           .form-group
        /             %img.form-loader{:src => "images/theme_images/loader-form.GIF"}/
        /             %button.btn.btn-sm.btn-outline-inverse{:type => "submit"} Submit
        /           .form-group.form-general-error-container
        /         / end: form right col
        /     / end: CONTACT FORM
        /   / .content-wrapper
        / / .section-wrapper
      / #main-content
      / Footer
      %section#footer
        / Go to Top
        #go-to-top{:onclick => "scroll_to_top();"}
          %span.icon.glyphicon.glyphicon-chevron-up
        %ul.social-icons
          %li
            %a{:href => "https://www.facebook.com/gtlaserbeast", :target => "_blank", :title => "Facebook"}
              %img{:alt => "Facebook", :src => "images/theme_images/social_icons/facebook.png"}/
          %li
            %a{:href => "https://twitter.com/willcfisherjr", :target => "_blank", :title => "Twitter"}
              %img{:alt => "Twitter", :src => "images/theme_images/social_icons/twitter.png"}/
          %li
            %a{:href => "https://github.com/gtlaserbeast", :target => "_blank", :title => "Github"}
              %img{:alt => "Github", :src => "images/theme_images/social_icons/github.png"}/
          %li
            %a{:href => "https://gtlaserbeast.github.io", :target => "_blank", :title => "Octopress Blog"}
              %img{:alt => "Octopress Blog", :src => "images/theme_images/social_icons/sharethis.png"}/
          %li
            %a{:href => "https://www.linkedin.com/in/willcfisherjr/", :target => "_blank", :title => "Linkedin"}
              %img{:alt => "linkedin", :src => "images/theme_images/social_icons/linkedin.png"}/
        / copyright text
        .footer-text-line © 2014 
        %a{:href => "mailto:willcfisherjr@gmail.com?subject=[world-wide-will] Hello!", :title => "willcfisherjr@gmail.com"} willcfisherjr@gmail.com
        .footer-text-line | 
        %a{:href => "tel:843-263-3471", :title => "(843)263-3471"} (843)263-3471
    / Modal
    / DO NOT MOVE, EDIT OR REMOVE - this is needed in order for popup content to be populated in it
    #common-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          .modal-body
    /
      Javascripts
      \==================================================
    / Jquery and Bootstrap JS
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="js/jquery-1.11.1.min.js"><\/script>')
    %script{:src => "bootstrap/js/bootstrap.min.js"}
    / Easing - for transitions and effects
    %script{:src => "js/jquery.easing.1.3.js"}
    / background image strech script
    %script{:src => "js/jquery.backstretch.min.js"}
    /
      background image fix for IE 9 or less
      \- use same background as set above to <body>
    /[if lt IE 9]
      <script type="text/javascript">
      $(document).ready(function(){
      jQuery("#outer-background-container").backstretch("images/other_images/bg5.jpg");
      });
      </script>
    / detect mobile browsers
    %script{:src => "js/detectmobilebrowser.js"}
    / owl carousel js
    %script{:src => "js/owl-carousel/owl.carousel.min.js"}
    / lightbox js
    %script{:src => "js/lightbox/js/lightbox.min.js"}
    / intro animations
    %script{:src => "js/wow/wow.min.js"}
    / Custom functions for this theme
    %script{:src => "js/functions.js"}
    %script{:src => "js/initialise-functions.js"}
    / IE9 form fields placeholder fix
    /[if lt IE 9]
      <script>contact_form_IE9_placeholder_fix();</script>